@{
    var sett = ViewBag.Settings as SettingGetSetDTO;
}

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<footer class="footer footer-static footer-light">
    <p class="clearfix mb-0">
        @if (sett != null) {
            <span class="float-left d-inline-block">2021 &copy; <a href="@sett.SiteUrl">@sett.SiteTitle</a></span>
        }else{
            <span class="float-left d-inline-block">2021 &copy; <a href="https://site.com">سایت شخصی</a></span>
        }
    </p>
</footer>

<script src="~/admin/js/vendors.min.js"></script>
<script src="~/admin/fonts/LivIconsEvo/js/LivIconsEvo.tools.min.js"></script>
<script src="~/admin/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
<script src="~/admin/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
<script src="~/admin/js/sweetalert2.all.min.js"></script>
<script src="~/admin/js/scripts/configs/vertical-menu-dark.min.js"></script>
<script src="~/admin/js/app-menu.min.js"></script>
<script src="~/admin/js/app.min.js"></script>
<script src="~/admin/js/scripts/footer.min.js"></script>