@model SaeedNA.Data.Entities.Contact.ContactUs

<div class="col-12">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input type="text" class="form-control" asp-for="FullName" readonly>
    </div>
</div>
<div class="col-12">
    <div class="form-group">
        <label asp-for="Mobile"></label>
        <input type="tel" class="form-control" asp-for="Mobile" dir="ltr" readonly>
    </div>
</div>
<div class="col-12">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email" dir="ltr" readonly>
    </div>
</div>
<div class="col-12">
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea class="form-control" rows="5" asp-for="Text" readonly></textarea>
    </div>
</div>
<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>