@model PostCreateDTO
@{
    ViewData["Title"] = "افزودن نوشته";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="post-new">
    <div class="card">
        <div class="card-body">
            <form asp-action="Add" asp-controller="Post" asp-area="Admin" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xl-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input class="form-control" asp-for="Title" type="text">
                                    <span class="text-danger" asp-validation-for="Title"></span>
                                </div>
                            </div>
                            <div class="col-12 mb-1">
                                <label asp-for="ShortDescription"></label>
                                <textarea class="form-control" asp-for="ShortDescription" rows="5"></textarea>
                            </div>
                            <div class="col-12">
                                <textarea asp-for="Description" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="border rounded py-1">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="post-image">تصویر نوشته</label>
                                        <img id="post_image" class="d-block mw-100" />
                                        <input type="text" class="form-control" asp-for="Image" readonly>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="media py-1">
                                            <div class="media-body">
                                                <fieldset id="upload-field">
                                                    <label for="file" class="btn btn-sm btn-light-primary ml-50 mb-50 mb-sm-0">
                                                        <span>بارگذاری فایل</span>
                                                        <input id="file" name="file" type="file" onchange="getImage(this)" hidden>
                                                    </label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="CategoryId">دسته بندی</label>
                                    <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="State">وضعیت</label>
                                    <select class="form-control" asp-for="State" asp-items="Html.GetEnumSelectList<PostPublishingState>()"></select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Tags"></label>
                                    <input class="form-control" asp-for="Tags" placeholder="با کاما از هم جدا کنید" type="text">
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                <button type="submit" class="btn btn-primary glow mr-1">ذخیره تغییرات</button>
                                <a asp-action="Index" asp-controller="Post" asp-area="Admin" class="btn btn-light">لغو</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/admin/js/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description', {
            language: 'fa'
        });

        function uploadFile() {
            document.getElementById("loader").innerHTML = '<div class="spinner-border text-primary" role="upload" ><span class="sr-only">در حال بارگذاری ...</span></div>';
            document.getElementById("upload-field").disabled = true;

            var fdata = new FormData();
            var fileInput = $('#select-files')[0];
            var file = fileInput.files[0];

            fdata.append("file", file);

            $.ajax({
                type: 'post',
                url: "/Post/AjaxUpload",
                data: fdata,
                processData: false,
                contentType: false
            }).done(function (result) {
                if (result.status === "success") {
                    document.getElementById("PostFile").value = result.url;
                    document.getElementById("loader").innerHTML = '';
                    document.getElementById("upload-field").disabled = false;
                } else {
                    console.log(result.message);
                }
            });
        }

        function removeFile() {
            document.getElementById("PostFile").value = "";
            document.getElementById("select-files").value = "";
        }

        function getImage(input){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  $('#post_image').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}