@model CounterCreateDTO

<form asp-action="Add" asp-controller="ServiceCounter" asp-area="Admin" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Title">عنوان</label>
            <input type="text" class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Number">متن خدمت</label>
            <input type="text" class="form-control" asp-for="Number">
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">ثبت</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
</form>