@model RegisterUserDTO
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid main-container p-0 revealator-slideup revealator-once revealator-delay1">
    <div class="color-block d-none d-lg-block"></div>
    <div class="row d-flex align-content-center justify-content-center vh-100">
        @if(ViewData["RegisterError"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["RegisterError"]
            </div>
        }
        <div class="card" style="width:400px;">
            <div class="card-header d-flex justify-content-center">
                <h4 class="card-title text-dark mb-0">ورود به حساب کاربری</h4>
            </div>
            <div class="card-body">
                <form asp-action="Register" asp-controller="Account">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input asp-for="UserName" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input asp-for="Email" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input asp-for="Password" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input asp-for="ConfirmPassword" class="form-control">
                    </div>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-unlock mr-2"></i>
                        <span>ثبت نام</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>