@model MyService

<form asp-action="Add" asp-controller="MyService" asp-area="Admin" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="MyServiceTitle">عنوان</label>
            <input type="text" class="form-control" asp-for="MyServiceTitle">
            <span asp-validation-for="MyServiceTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="MyServiceText">متن خدمت</label>
            <textarea class="form-control" asp-for="MyServiceText" rows="5"></textarea>
            <span asp-validation-for="MyServiceText" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">ثبت</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
    </div>
</form>