/*-------------------------------------------------------------*/
body{
    font-family: dana,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
    background: url('../img/BG.png') no-repeat;
    background-size: 100%;
    background-position: top left;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
/*------------------------------------Components-------------------------------------------------*/
.title{
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.title span{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #237AEC;
}
.title h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    
}
nav.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 70px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: -30px;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
}
nav.menu .menu-item{
    padding: 20px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    transition: all 200ms ease-in-out;
}
nav.menu .menu-item:hover{
    background-color: #F6F6F6;
}
nav.menu .menu-item a{
    text-decoration: none;
}
nav.menu .menu-item a img{
    width: 24px;
    height: 24px;
}

.button{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(270deg,#1fb3ed 0%, #116ac5 100%);
    box-shadow: 0px 3px 6px #116ac5;
    transition: all 200ms ease-in-out;
}
.button:hover{
    background: linear-gradient(270deg,#1894c5 0%, #0d5eaf 100%);
}
.button span{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
/*------------------------------------Styles-------------------------------------------------*/
/*------------------------------------Main Page----------------------------------------------*/
main{
    width: 1600px;
    height: 90%;
    padding-right:250px ;
    position: relative;
}

main .profile-side{
    background-color: #fff;
    border-radius: 70px;
    width: 300px;
    height: 90%;
    position: absolute;
    top: 40px;
    right: 60px;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}
main .profile-side .avatar-holder{
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(270deg,#1fb3ed 0%, #116ac5 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .profile-side .avatar-holder .avatar{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .profile-side .avatar-holder .avatar img{
    height: 100%;
}
main .profile-side .avatar-holder h1{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}
main .profile-side .avatar-holder h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}
main .profile-side .content{
    padding: 10px;
    text-align: center;
}
main .profile-side .content .download-resume{
    padding: 20px 0;
}
main .profile-side .content .social-icons{
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .profile-side .content .social-icons a{
    text-decoration: none;
}
main .profile-side .content .social-icons a img.icon{
    width: 16px;
    height: 16px;
}



main .main-side{
    height: 100%;
    padding: 20px 150px 20px 100px ;
    background-color: #fff;
    border-radius: 70px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}
main .main-side .about-me{
    padding: 10px;
}
main .main-side .about-me .content{
    margin-right: 20px;
}
main .main-side .about-me .content p{
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
}
main .main-side .skills .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 30px;
    justify-content: space-between;
}
main .main-side .skills .content .skill{
    width: 100%;
    max-width: 400px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}
main .main-side .skills .content .skill .skill-title{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
}
main .main-side .skills .content .skill .skill-progress{
    display: flex;
    justify-content: space-between;
}
main .main-side .skills .content .skill .skill-progress .skill-bar{
    background-color: #ddd;
    border-radius: 8px;
    width: 100%;
    height: 12px;
    overflow: hidden;
}
main .main-side .skills .content .skill .skill-progress .skill-bar .skill-bar-status{
    background: linear-gradient(270deg,#1fb3ed 0%, #116ac5 100%);
    height: 15px;
}
main .main-side .skills .content .skill .skill-progress .skill-bar-percentage{
    font-weight: 300;
    font-size: 10px;
    margin-right: 10px;
}
