@{
    var settings = ViewBag.SiteSettings as Setting;
    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();

    if(controller == "blog" && action == "single")
    {
        controller = "blog-post";
    }
}
<!DOCTYPE html>
<html lang="fa">
    <head>
        @await Component.InvokeAsync("SiteHeader")
    </head>
    <body class="@controller @(settings.SiteMode)">
        @await Component.InvokeAsync("SiteMenu")
        @RenderBody()
        @await Component.InvokeAsync("SiteFooter")
        @await RenderSectionAsync("Scripts", required: false)
        <script>
            $("#@controller").addClass("active");
            if ("@controller" === "blog") {
                $("#@controller-@action").addClass("active");
            }
        </script>
    </body>
</html>
